EE 422C/.metadata/
EE306_Labs/.svn/
EE319K_Labswc/.svn/
EE319K_Labswc/students/rvr324_byf69/Lab10_EE319K/Lab10Files/PipeDreams/
EE319K_Labswc/students/rvr324_byf69/Lab10_EE319K/Lab10Files/
EE_422C/.recommenders/
EE_312/.svn/
EE_312/gtest/
EE_312/students/byf69/Project1B/GRADE_REPORT.txt
GRADE_REPORT.txt
EE_312/LectureNotes/
EE_312/PastExams/
EE_312/examples/
*.hex
*.lst
*.result
*.output
*.sym
*.conf
EE319K_Labs/conf/
EE319K_Labs/db/
EE_422C/exam1/
EE_312/test_cases/
*.sln
*.sdf
*.vcxproj
EE_312/students/byf69/Exercise10/Debug/
Debug/
EE_312/exercises/
EE319K_Labs/
EE319K_Labswc/DataSheets/
*.iex
*.plg
*.sct
*.tra
*.uvgui
*.Ben
*.uvopt
*.uvproj
*.dep
EE319K_Labswc/students/rvr324_byf69/Lab10_EE319K/Game.build_log.htm
*.lnp
*.map
*.crf
EE319K_Labswc/students/rvr324_byf69/Lab6_EE319K/Lab6.htm
*.axf
*.filters
*.opensdf
EE_379K/Project1/yash/bin/
EE_379K/Project1/yash/obj/
*.o
*.cbp
*.depend
*.layout
EE_379K/Project1/yash/yash
*.iml
**/.idea/
*.pdf
*.doc
*.xlsx
*.docx
**/out/
